.cert{
    margin: 0;
}
.cert>h1{
    text-align: center;
    font-size: 70px;
    text-decoration: underline;
}
.cource{
    display: grid;
    grid-template-columns : 1fr 1fr 1fr;
}
.elements{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px 30px;
    scroll-behavior:smooth;
    padding:5px 10px;
    background-color: rgb(227, 219, 219, 0.2);
    color: rgb(39, 37, 37);
    border-radius: 25px;
}
.elements img{
    border-radius: 0;
    height: 250px;
    width: 400px;
    padding: 10px;
    background-color: rgba(169, 169, 169, 0.774);
}
.elements img:hover{
    zoom: 102%;
}
.elements p{
    width: 100%;
    display: inline;
}
@media (max-width : 900px) {
    .cource{
    grid-template-columns: 1fr;
}}
@media (max-width : 1250px) and (min-width:900px) {
    .cource{
    grid-template-columns: 1fr 1fr;
}}
@media (min-width:1250px) {
    .cource{
    grid-template-columns: 1fr 1fr 1fr;
}}