.Nav{
    top: 0;
}

.Nav-Items{
    text-decoration: none;
    top: 15px;
    margin: 10px;
    padding: 10px;
    float: right;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: x-large;
}
.Nav-Items:hover{
    color: yellow;
}
.icons{
    margin: 10px 15px;
    padding: 5px 5px;
}
@media (max-width : 900px) {
    .cer {
    display: none;
}}

